.imagem-pessoa {
	background-image: url(../img/img5.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.meu-carrosel {
	margin: 20px 0 60px 0;
}

.imagem-item {
	height: 410px;
}

.style-form {
	color: ffffff;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
}

.cor-fonte {
	color: #17a2b8;
}

.cor-cadastrar {
	background: #828282;
	text-align: center;
}

#style-selectimg {
	width: 47%;
}

.cor-login {
	color: white;
}

.cor-barralogin {
	background: #828282;
}

#cor-th {
	background-color: #81BDA4;
}

.alinhamento-encontre {
	text-align: center;
}
.alinhamento-botao-buscar{
	margin-left: 35%;
}
.cor-botao{
	    background-color: #81BDA4;
}
.cor-cadastre{
	color: #17a2b8;
}
.cadastre-login{
	margin-left: 4%;
}
.cor-cadastro{
	color: #ffffff;
}
.ajuste-icone{
	width: 75%;
}
.ajuste-input{
	margin-left: -41%;
}

.button-remover-alterar{
	border: 2px solid transparent;
}
.botao-material{
	text-align: center;
}

.tamanho-text-area{
	width: 100%;
	
}
.mensagem-sucesso{
	color: #32CD32;
	text-align: center;
	margin-top: 4%;
	
}
.mensagem-erro{
	color: #FF0000;
	text-align: center;
	margin-top: 4%;
}

