.imagem-pessoa {
	background-image: url(../img/img5.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.meu-carrosel {
	margin: 20px 0 60px 0;
}

.imagem-item {
	height: 410px;
}

.style-form {
	color: ffffff;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
}

.cor-fonte {
	color: #17a2b8;
}

.cor-cadastrar {
	background: #828282;
	text-align: center;
}

#style-select {
	width: 75%;
}

.cor-login {
	color: white;
}

.cor-barralogin{
	background: #828282;
}